CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
Debug
Release
.vscode/.cortex-debug.registers.state.json
.vscode/.cortex-debug.peripherals.state.json
